<?xml version="1.0" encoding="UTF-8"?><!-- xmlのバージョンが1.0、エンコーディングがUTF-8であることを指定 -->
<!-- MyBatisが使用するDTDを指定 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- com.example.demo.repository.FruitMapper という名前空間にマッピングする -->
<mapper namespace="com.example.demo.repository.FruitMapper">

<!-- ユーザー情報テーブル内のすべてのレコードを検索するためのSELECT文 -->
	<select id="findAll" resultType="com.example.demo.entity.Fruit">
		SELECT
			*
		FROM
			fruit
        WHERE
            delete_date IS NULL
        ORDER BY
        	id ASC
	</select>
	
<!-- 検索フォームの条件をもとにフルーツ情報テーブルのレコードを検索するためのSELECT文 -->
	<select id="search" resultType="com.example.demo.entity.Fruit">
		SELECT
			*
		FROM
			fruit
		WHERE
			delete_date IS NULL
		<if test="id != null and id != ''">
		AND
			id = #{id}
		</if>
		<if test="name != null and name != ''">
		AND
			name LIKE '%'|| #{name} || '%'
		</if>
	</select>
	
<!-- フルーツ情報テーブル内の指定されたIDのレコードを検索するためのSELECT文 -->
	<select id="findById" resultType="com.example.demo.entity.Fruit">
		SELECT
			*
		FROM
			fruit
        WHERE
            delete_date IS NULL
        AND
			id = #{id}
	</select>
	
<!-- 新しいフルーツ情報をフルーツ情報テーブルに追加するためのINSERT文 -->
	<insert id="save">
    	INSERT INTO
        	fruit (name, price, prefecture, season)
    	VALUES
        	(#{name}, #{price}, #{prefecture}, #{season})
	</insert>
	
<!-- フルーツ情報テーブル内の指定されたIDのレコードの価格を更新するためのUPDATE文 -->
	<update id="update">
		UPDATE
			fruit
		SET
			price = #{price}
		WHERE
			id = #{id}
	</update>
	
<!-- フルーツ情報テーブル内の指定されたIDのレコードを削除するためのDELETE文 -->
	<delete id="delete">
		DELETE FROM
			fruit
		WHERE
			id = #{id}
	</delete>
	
<!-- フルーツ情報テーブル内の指定されたIDのレコードを論理削除するためのUPDATE文 -->
    <update id="logicalDelete">
        UPDATE
            fruit
        SET
			delete_date = CURRENT_TIMESTAMP
		WHERE
			id = #{id}
	</update>
</mapper>