<!DOCTYPE html>
<!-- Thymeleafテンプレートエンジンを使用していることを示す -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hello</title>
</head>
<body>
    <h1>Hello</h1>
    <table>
        <tr>
            <th>名前</th>
        </tr>
        <tr>
			<!-- th:text - name変数にアクセスし表示 -->
            <td th:text="${nameData.name}"></td>
        </tr>
        <tr>
            <th>ID</th>
        </tr>
        <tr>
			<!-- th:text - id変数にアクセスし表示 -->
            <td th:text="${idData.id}"></td>
        </tr>
        <tr>
            <th>点数</th>
        </tr>
        <tr>
			<!-- th:text - score変数にアクセスし表示 -->
            <td th:text="${scoreData.score}"></td>
        </tr>
    </table>
</body>
</html>