<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{label.title}"></title>
<style>
	.red {
		color: red;
	}
</style>
</head>
<body>
	<h1 th:text="#{label.edit}"></h1>
	<form th:method="patch" th:action="@{/update}" th:object="${userData}">
		<input type="hidden" th:field="*{id}">
		<div>
			<label for="name" th:text="|#{label.name}: |"></label>
			<input type="text" th:field="*{name}">
			<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="red"></div>
		</div>
		<div>
			<label for="age" th:text="|#{label.age}: |"></label>
			<input type="text" th:field="*{age}">
			<div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" th:errorclass="red"></div>
		</div>
		<div>
			<label for="gender" th:text="|#{label.gender}: |"></label>
			<input type="text" th:field="*{gender}">
			<div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" th:errorclass="red"></div>
		</div>
		<input type="submit" th:value="#{button.update}">
		<a th:href="@{/}" th:text="#{button.back}"></a>
	</form>
</body>
</html>