<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{label.title}"></title>
<style>
	.red {
		color: red;
	}
</style>
</head>
<body>
	<h1 th:text="#{label.edit}"></h1>
	<form th:method="patch" th:action="@{/update}" th:object="${foodData}">
		<input type="hidden" th:field="*{id}">
		<div>
			<label for="name" th:text="|#{label.name}: |"></label>
			<input type="text" th:field="*{name}">
			<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="red"></div>
		</div>
		<div>
			<label for="price" th:text="|#{label.price}: |"></label>
			<input type="text" th:field="*{price}">
			<div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:errorclass="red"></div>
		</div>
		<div>
			<label for=time th:text="|#{label.time}: |"></label>
			<input type="text" th:field="*{time}">
			<div th:if="${#fields.hasErrors('time')}" th:errors="*{time}" th:errorclass="red"></div>
		</div>
		<input type="submit" th:value="#{button.update}">
		<a th:href="@{/}" th:text="#{button.back}"></a>
	</form>
</body>
</html>