<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{label.title}"></title>
</head>
<body>
	<h1 th:text="#{label.title}"></h1>
	<a th:href="@{/create}" th:text="#{button.new}"></a>
	<hr>
	<h3 th:text="#{label.search.form}"></h3>
	<form th:method="post" th:action="@{/}" th:object="${drinkQuery}">
		<div>
			<label for="id">ID: </label>
				<input type="text" th:field="*{id}">
		</div>
		<div>
			<label th:text="|#{label.name}: |"></label>
			<input type="text" th:field="*{name}">
		</div>
		<input type="submit" th:value="#{button.search}">
		<a th:href="@{/}" th:text="#{button.reset}"></a>
	</form>
	<hr>
	<table>
		<tr>
			<th>ID</th>
			<th th:text="#{label.name}"></th>
			<th th:text="#{label.price}"></th>
			<th th:text="#{label.time}"></th>
		</tr>
		<tr th:each="drink:${drinkList}">
			<td th:text="${drink.id}"></td>
			<td><a th:href="@{/edit/__${drink.id}__}" th:text="${drink.name}"></a></td>
			<td th:text="${drink.price}"></td>
			<td th:text="${drink.time}"></td>
			<td>
				<form th:method="delete" th:action="@{/delete}">
					<input type="hidden" name="id" th:value="${drink.id}">
					<input type="submit" th:value="#{button.delete}">
				</form>
			</td>
			<td>
				<form th:method="patch" th:action="@{/logical/delete}">
					<input type="hidden" name="id" th:value="${drink.id}">
					<input type="submit" th:value="#{button.logical.delete}">
				</form>
			</td>
		</tr>
	</table>
</body>
</html>